<div class="dashboard-container">

<nav class="navbar">
  <div class="logo">{{user?.userName}}</div>
  <ul class="nav-links">
<li class="notification" (click)="toggleNotifications()">
  <a>
   <fa-icon [icon]="faBell"></fa-icon>
    <span class="badge" *ngIf="notificationCount > 0">{{ notificationCount }}</span>
  </a>

<div class="notification-dropdown" *ngIf="showNotifications">
  <h4>Notifications</h4>
  <ul>
    <li *ngFor="let notif of notifications">
      <span class="notif-title">{{ notif.title }}</span>
      <span class="notif-message">{{ notif.message }}</span>
      <!-- <span class="notif-date">{{ notif.createdAt | date:'short' }}</span> -->
    </li>
    <li *ngIf="notifications.length === 0">No new notifications</li>
  </ul>
  <button (click)="markAllAsRead()">Mark as Read</button>
</div>

</li>



    <li>
      <a routerLink="/location-details" routerLinkActive="active">My Address</a>
    </li>
    <li>
      <a routerLink="/settings" routerLinkActive="active">Settings</a>
    </li>

   
    <li>
      <a (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>

  <main class="main-content">
    <header class="dashboard-header">
      <h2>Welcome, {{ userName }}</h2>
    </header>
<section class="task-lists">
  <div class="task-column">
    <h3>Completed</h3>
    <ul>
      <li *ngFor="let task of completedtasks" (change)="onStatusChange(task)"
       [ngClass]="getStatusClass(task.status)" >
        <div class="task-info">
          <h4>Title: {{ task.title }}</h4>
          <p>Description: {{ task.description }}</p>
          <p><strong>Assigned By:</strong> {{ task.assignedByuserName }}</p>
          <p><strong>Due:</strong> {{ task.dueDate | date:'shortDate' }}</p>
        </div>
          <div class="task-action">
            <select [(ngModel)]="task.status">
              <option value="Done">Completed</option>
              <option value="Working">Working</option>
              <option value="Pending">Pending</option>
            </select>
        </div>
      </li>
      <li *ngIf="completedtasks.length === 0">No Completed Tasks</li>
    </ul>
  </div>

  <div class="task-column">
    <h3>Working</h3>
    <ul>
      <li *ngFor="let task of workingTasks" 
       [ngClass]="getStatusClass(task.status)">
        <div class="task-info">
          <h4>Title: {{ task.title }}</h4>
          <p>Description: {{ task.description }}</p>
          <p><strong>Assigned By:</strong> {{ task.assignedByuserName }}</p>
          <p><strong>Due:</strong> {{ task.dueDate | date:'shortDate' }}</p>
        </div>
        <div class="task-action">
          <select [(ngModel)]="task.status" (change)="onStatusChange(task)" >
            <option value="Done">Completed</option>
            <option value="Working">Working</option>
            <option value="Pending">Pending</option>
          </select>
        </div>
      </li>
      <li *ngIf="workingTasks.length === 0">No Working Tasks</li>
    </ul>
  </div>


  <div class="task-column">
    <h3>Pending</h3>
    <ul>
      <li *ngFor="let task of pendingTasks"
       [ngClass]="getStatusClass(task.status)">
        <div class="task-info">
          <h4>Title: {{ task.title }}</h4>
          <p>Description: {{ task.description }}</p>
          <p><strong>Assigned By:</strong> {{ task.assignedByuserName }}</p>
          <p><strong>Due:</strong> {{ task.dueDate | date:'shortDate' }}</p>
        </div>
        <div class="task-action">
          <select [(ngModel)]="task.status" (change)="onStatusChange(task)">
               <option value="Pending">Pending</option>
            <option value="Done">Completed</option>
            <option value="Working">Working</option>
          </select>
        </div>
      </li>
      <li *ngIf="pendingTasks.length === 0">No Pending Tasks</li>
    </ul>
  </div>
</section>





    <section class="recent">
      <h3>Recent Activity</h3>
      <ul>
        <li *ngFor="let activity of recentActivities">
          {{ activity }}
        </li>
      </ul>
    </section>
  </main>
</div>
