<div 
  class="login-container" 
  
>
  <form 
     [formGroup]="loginForm"
    class="login-form" 
    (ngSubmit)="onSubmit()" 
  >
    <h2 class="form-title">Login</h2>

    <div class="form-group">
      <label for="email">Email</label>
      <input 
      formControlName="email"
        type="text"  
        placeholder="Enter your email" 
      >
      <span *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" style="color: red; font-size: 0.9rem;">
        Please enter a valid email.
      </span>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input 
      formControlName="password"
        type="password" 
        placeholder="Enter your password" 
        required
      >
      <span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" style="color: red; font-size: 0.9rem;">
        Password is required.
      </span>
    </div>


    <div *ngIf="errorMessage" style="color: red; margin-bottom: 1rem; text-align: center;">
    {{ errorMessage }}
  </div>
    <button type="submit" class="login-btn">Login</button>


    <p class="register-link" >
      Don't have an account? 
      <a routerLink="/register">Register here</a>
    </p>

    {{userD}}
  </form>
</div>
